#logo{
  height: 2em;
}

.btn-thread {
  color: black;
  background-color: white;
  border-color: black;

}
.btn-thread:hover {
  color: white;
  background-color: black;
  border-color: black;

}

.footer-bottom {
  background-color: black;
}
