:root {
    --varela: "Varela Round", sans-serif;
    --jetbrains: "JetBrains Mono", monospace;
    --black-color: black;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.polymerization {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/fusion_background.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

#logo {
    height: 2em;
}

.nav-link {
    font-family: var(--varela);
}

.btn-thread {
    color: var(--black-color);
    background-color: white;
    border-color: var(--black-color);
    font-family: var(--varela);
}
.btn-thread:hover {
    color: white;
    background-color: var(--black-color);
    border-color: var(--black-color);
}

.background-vrains {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-dark {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1%;
}

.title-main {
    font-family: var(--jetbrains);
}

.hero-title {
    animation: fromlefttoright 1s 1;
}

@keyframes fromlefttoright {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.text-hero {
    font-family: "Roboto", sans-serif;
}

.cover-yugi:hover {
    box-shadow: 0px 1px 0px #00a8e7, 0px 0px 5px 0px #00a8e7, 0px 0px 1px 0px #00a8e7;
}

#resetBtn {
    width: 180px;
}

.random {
    background: rgb(97, 132, 203);
    background: radial-gradient(circle, rgba(97, 132, 203, 1) 0%, rgba(205, 228, 171, 1) 59%);
}

.fusion-search {
    background-color: #6da86d;
}

.fusion-search:hover {
    background-color: red;
}

.random-2 {
    background: rgb(203, 97, 144);
    background: radial-gradient(circle, rgba(203, 97, 144, 1) 0%, rgba(205, 228, 171, 1) 59%);
}

.fusion-calculator {
    background-color: #69b0c1;
}

.random-3 {
    background: rgb(76, 181, 77);
    background: radial-gradient(circle, rgba(76, 181, 77, 1) 0%, rgba(205, 228, 171, 1) 59%);
}

.about-title {
    background-color: #c16969;
}

.footer-bottom {
    background-color: var(--black-color);
}

@media (max-width: 576px) {
    .title-logo-main {
        font-size: 1.3rem;
    }
}
