body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.polymerization{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/images/fusion_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#logo{
  height: 2em;
}

.btn-thread {
  color: black;
  background-color: white;
  border-color: black;

}
.btn-thread:hover {
  color: white;
  background-color: black;
  border-color: black;

}

#resetBtn {
  width: 180px;
}


.footer-bottom {
  background-color: black;
}